[build]
command = "npm run build"
publish = "dist"
functions = "netlify/functions"

  [build.environment]
  NODE_VERSION = "18"

  [build.processing]

    [build.processing.css]

    [build.processing.html]

    [build.processing.images]

    [build.processing.js]

  [build.services]

[functions]

  [functions."*"]

[[headers]]
for = "/*"

  [headers.values]
  Access-Control-Allow-Origin = "*"

[[redirects]]
from = "/api/*"
to = "/.netlify/functions/:splat"
status = 200
force = false

  [redirects.query]

  [redirects.conditions]

  [redirects.headers]